name: afrimgsm
dataset: masakhane/afrimgsm
trust_remote_code: True
languages:
  - eng
  - fra
  - amh
  - ewe
  - hau
  - ibo
  - kin
  - lin
  - lug
  - orm
  - sna
  - sot
  - swa
  - twi
  - vai
  - wol
  - xho
  - yor
  - zul
test_split: test
fewshot_split: validation
target: answer_number
prompts:
  - "{{question}} \nStep-by-step Answer: "
  - "Give direct numerical answers for the question provided.\n\nQuestion: {{question}} \nStep-by-step Answer: "
  - "Solve the following math question \n\nQuestion: {{question}} \nStep-by-step Answer: "
  - "Answer the given question with the appropriate numerical value, ensuring that the response is clear and without any supplementary information. \n\nQuestion: {{question}} \nStep-by-step Answer: "
  - "For mathematical questions provided in {{language}} language. Supply the accurate numeric step by step answer to the provided question. \n\nQuestion: {{question}} \nStep-by-step Answer: "
metrics:
  - exact_match
filters:
  - extract_regex