name: uhura-arc-easy
dataset: masakhane/uhura-arc-easy
trust_remote_code: True
languages:
  - am
  - en
  - nso
  - ha
  - sw
  - yo
  - zu
test_split: test
fewshot_split: validation
target: answerKey
prompts:
  - "You are a virtual assistant that answers multiple-choice questions with the correct option only. \n\nQuestion: {{question}}\n\nChoices: {{choices}} \nAnswer: . Return only one of 'A', 'B', 'C', or 'D'"
  - "Choose the correct option that answers the question below:\n\nQuestion: {{question}}\n\nChoices: {{choices}} \nAnswer: . Return only one of 'A', 'B', 'C', or 'D'"
  - "Answer the following multiple-choice question by picking 'A', 'B', 'C', or 'D' \n\nQuestion: {{question}}\n\nOptions: {{choices}} \nAnswer: . Return only one of 'A', 'B', 'C', or 'D'"
  - "Question: {{question}}\n\nOptions: {{choices}} \nAnswer: . Return only one of 'A', 'B', 'C', or 'D'"
  - "Which of the following options answers this question: {{question}}\n\nOptions: {{choices}} \nAnswer: . Return only one of 'A', 'B', 'C', or 'D'"
choices:
  - A
  - B
  - C
  - D
metrics:
  - f1
  - acc