name: intent_detection
dataset: masakhane/InjongoIntent
languages:
  - amh
  - eng
  - ewe
  - hau
  - ibo
  - kin
  - lin
  - lug
  - orm
  - sna
  - sot
  - swa
  - twi
  - wol
  - xho
  - yor
  - zul
test_split: test
fewshot_split: validation
target: intent
prompts:
  - "Given the text: '{{text}}', classify it into one of these intents: [alarm, balance, bill_balance, book_flight, book_hotel, calendar_update, cancel_reservation, car_rental, confirm_reservation, cook_time, exchange_rate, food_last, freeze_account, ingredients_list, interest_rate, international_visa, make_call, meal_suggestion, min_payment, pay_bill, pin_change, play_music, plug_type, recipe, restaurant_reservation, restaurant_reviews, restaurant_suggestion, share_location, shopping_list_update, spending_history, text, time, timezone, transactions, transfer, translate, travel_notification, travel_suggestion, update_playlist, weather]. Only output one intent from the list."
  - "Analyze the text: '{{text}}'. Choose the most appropriate intent from these options: [alarm, balance, bill_balance, book_flight, book_hotel, calendar_update, cancel_reservation, car_rental, confirm_reservation, cook_time, exchange_rate, food_last, freeze_account, ingredients_list, interest_rate, international_visa, make_call, meal_suggestion, min_payment, pay_bill, pin_change, play_music, plug_type, recipe, restaurant_reservation, restaurant_reviews, restaurant_suggestion, share_location, shopping_list_update, spending_history, text, time, timezone, transactions, transfer, translate, travel_notification, travel_suggestion, update_playlist, weather]. Respond with only the selected intent."
  - "You are a linguistic analyst trained to understand user intent. Based on the text: '{{text}}', choose the intent that best matches from this list: [alarm, balance, bill_balance, book_flight, book_hotel, calendar_update, cancel_reservation, car_rental, confirm_reservation, cook_time, exchange_rate, food_last, freeze_account, ingredients_list, interest_rate, international_visa, make_call, meal_suggestion, min_payment, pay_bill, pin_change, play_music, plug_type, recipe, restaurant_reservation, restaurant_reviews, restaurant_suggestion, share_location, shopping_list_update, spending_history, text, time, timezone, transactions, transfer, translate, travel_notification, travel_suggestion, update_playlist, weather]. Return only the intent."
  - "You are a English linguistic analyst trained to understand {{language}} user intent. Based on the {{language}} text: ''{{text}}'', choose the intent that best matches from this list: [alarm, balance, bill_balance, book_flight, book_hotel, calendar_update, cancel_reservation, car_rental, confirm_reservation, cook_time, exchange_rate, food_last, freeze_account, ingredients_list, interest_rate, international_visa, make_call, meal_suggestion, min_payment, pay_bill, pin_change, play_music, plug_type, recipe, restaurant_reservation, restaurant_reviews, restaurant_suggestion, share_location, shopping_list_update, spending_history, text, time, timezone, transactions, transfer, translate, travel_notification, travel_suggestion, update_playlist, weather]. Return only the intent."
  - "The following text is in {{language}}: '{{text}}'. Given the list of intents: [alarm, balance, bill_balance, book_flight, book_hotel, calendar_update, cancel_reservation, car_rental, confirm_reservation, cook_time, exchange_rate, food_last, freeze_account, ingredients_list, interest_rate, international_visa, make_call, meal_suggestion, min_payment, pay_bill, pin_change, play_music, plug_type, recipe, restaurant_reservation, restaurant_reviews, restaurant_suggestion, share_location, shopping_list_update, spending_history, text, time, timezone, transactions, transfer, translate, travel_notification, travel_suggestion, update_playlist, weather], identify the intent expressed in the text. Return only the identified intent."
choices:
  - alarm
  - balance
  - bill_balance
  - book_flight
  - book_hotel
  - calendar_update
  - cancel_reservation
  - car_rental
  - confirm_reservation
  - cook_time
  - exchange_rate
  - food_last
  - freeze_account
  - ingredients_list
  - interest_rate
  - international_visa
  - make_call
  - meal_suggestion
  - min_payment
  - pay_bill
  - pin_change
  - play_music
  - plug_type
  - recipe
  - restaurant_reservation
  - restaurant_reviews
  - restaurant_suggestion
  - share_location
  - shopping_list_update
  - spending_history
  - text
  - time
  - timezone
  - transactions
  - transfer
  - translate
  - travel_notification
  - travel_suggestion
  - update_playlist
  - weather
metrics:
  - f1
  - acc